#mySidenav a:hover {
  left: 0;
  background-color: #ddd;
  color: black;
}

#about {
  top: 20px;
  background-color: #ff8000;
}

#blog {
  top: 80px;
  background-color: #2196f3;
}

#projects {
  top: 140px;
  background-color: #884dff;
}

#contact {
  top: 200px;
  background-color: #555;
}
