.navbar-custom {
  background-color: #8d8782;
}

.navbar-custom a.navbar-brand {
  color: #555;
}
.navbar-custom li a {
  color: #41413f;
}

.navbar-custom li a:hover {
  color: #8d8782;
}

#mySidenav a:hover {
  left: 0;
  background-color: #ddd;
  color: black;
}

/* #about {
  top: 20px;
  background-color: #ff8000;
} */

#blog {
  top: 80px;
  background-color: #2196f3;
}

#projects {
  top: 140px;
  background-color: #884dff;
}

#contact {
  top: 200px;
  background-color: #555;
}

@media only screen and (min-width: 701px) {
  /* hide the hamburger */
  .hamburgerMenu {
    display: none;
  }
  /* show all the nav-buttons */
  .nav-button {
    display: block;
  }
}
/* if browser window is small (max-width) */

@media only screen and (max-width: 700px) {
  /* show everything with the hamburger class */
  .hamburgerMenu {
display: block;
  }
  /* hide all the nav-buttons */
  .nav-button {
    display: none;
  }
}